<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="icon" type="image/svg+xml" href="/vite.svg" />
  <link rel="stylesheet" href="style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vite + React + TS</title>
</head>
<body>
  <div id="root"></div>
  <script type="module" src="/src/main.js"></script>

  <div class="firstbox">
  <div class="header"> 
    
    
    <div class="leftside">
    <div class="heading1">
      Tech Prep
    </div>
    </div>
    <div class="title">
    <ul class="list">
      <li><a href='#'>Add habit</a></li>
      <li><a href='#'>Remove habit</a></li>
    </ul>
</div>

    <div class="rightside">
      <ul>
        <li> <a href="#">Log in </a></li>
      </ul>
    
    <div class="header2">
      
    </div>



    </div>
  </div>

  </div>



  <!-- now habit tracker -->
  <!-- <div class="habit-container">
        <div class="habit-card">
            <h3>Morning Run</h3>
            <p>Streak: 5 days</p>
            <button>Complete</button>
        </div>
        
        <div class="habit-card featured">
            <h3>Read 30 min</h3>
            <p>Streak: 12 days</p>
            <button>Complete</button>
        </div>
        
        <div class="habit-card">
            <h3>Meditate</h3>
            <p>Streak: 3 days</p>
            <button>Complete</button>
        </div>
    </div> -->
    


<div class="secondbox">

<div class="head2">
  Fitness tracker
</div>

<div class="container">
  <div class="boxes">
        <div class="text">
      Morning Run
    </div>
    <p class="streak">Day(s) Completed: 0</p>
    <img class="boximg1" src="./images/123457.jpg"></img>
    <div class="button">
    <button>Complete</button>
  </div>
  </div>

  <div class="boxes">
        <div class="text2">
      Read for 30 minutes
    </div>
    <p class="streak">Day(s) Completed: 0</p>
    <img class="boximg" src="./images/789.jpg">
        <div class="button">
    <button>Complete</button>
  </div>

  </div>

  <div class="boxes">
        <div class="text">
      Meditate
    </div>
    <p class="streak">Day(s) Completed: 0</p>
    <img class="boximg3" src="./images/Screenshot_10.jpg">
        <div class="button">
    <button>Complete</button>
  </div>

  </div>

  <!-- <div class="boxes">
    <img class="boximg" src="./images/1112">
    <div class="text">
      Other stuff
    </div>
  </div> -->
</div>







</body>
</html>
